<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <%if(error){%>
        <%= error %>
        <% } %>
        <h1>Welcome to Reddit!</h1>

    <h4>Existing users: Log in below.</h4>
  <form action="/auth/login" method="post">
      <label for="username">username:</label>
    <input id='username' type="text" name="username">
    <br>
    <br>
    <label for="password">password:</label>
    <input id = password type="text" name="password">
    <br>
    <br>

    <input class = 'btn btn-info' type="submit">
  </form>
</body>
</html>
